.author.col-sm-6.col-md-4
  .thumbnail
    = image_tag(author.image)
    .caption
      %h4="#{author.name} #{author.last_name}"
      %p=author.email
      %p=author.message
      %p
        %strong Role:
        =author.role
      %p
        %strong Number of posts:
        = author.posts.count
      = link_to 'Edit', edit_dashboard_author_path(author.id), class: 'btn btn-primary'
      - if author.role != 'admin'
        = link_to 'Delete', dashboard_author_path(author.id), method: 'delete', data: {:confirm => "Are you sure?"}, class: 'btn btn-danger'