- @author.id ? @url = dashboard_author_path(@author.id) : @url = dashboard_authors_path

= form_for @author, url: @url do |f|
  - if not @author.errors.empty?
    %h4="Couldn't create the author because of #{pluralize(@author.errors.count, 'error')}."
    %ul
      - @author.errors.full_messages.each do |error|
        %li= error

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :nickname
    = f.text_field :nickname
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :image, 'Image url'
    = f.text_field :image
  .field
    = f.label :message
    = f.text_area :message
  .field
    = f.label :password
    = f.text_field :password
  .field
    = f.submit 'Save'