- @author.id ? @url = dashboard_author_path(@author.id) : @url = dashboard_authors_path

.col-sm-9
  = form_for @author, url: @url do |f|
    - if not @author.errors.empty?
      %h4="Couldn't create the author because of #{pluralize(@author.errors.count, 'error')}."
      %ul
        - @author.errors.full_messages.each do |error|
          %li= error

    .form-horizontal
      .field.form-group
        = f.label :name, class: 'control-form col-sm-2'
        .col-sm-10
          = f.text_field :name, class: 'form-control'
      .field.form-group
        = f.label :last_name, class: 'control-form col-sm-2'
        .col-sm-10
          = f.text_field :last_name, class: 'form-control'
      .field.form-group
        = f.label :nickname, class: 'control-form col-sm-2'
        .col-sm-10
          = f.text_field :nickname, class: 'form-control'
      .field.form-group
        = f.label :email, class: 'control-form col-sm-2'
        .col-sm-10
          = f.text_field :email, class: 'form-control'
      .field.form-group
        = f.label :image, 'Image url', class: 'control-form col-sm-2'
        .col-sm-10
          = f.text_field :image, class: 'form-control'
      .field.form-group
        = f.label :message, class: 'control-form col-sm-2'
        .col-sm-10
          = f.text_area :message, class: 'form-control'
      .field.form-group
        = f.label :password, class: 'control-form col-sm-2'
        .col-sm-10
          = f.text_field :password, class: 'form-control'
      .field.form-group
        = f.submit 'Save', class: 'btn btn-primary pull-right'