.author-profile.text-center
  %h4.text-uppercase Author
  = image_tag(@author.image, class: 'img-responsive img-circle center-block')
  %p.name
    %strong
      =link_to "#{@author.name} #{@author.last_name}", author_path(nickname: @author.nickname)
  %p.message=@author.message

  %ul.social-links.list-inline
    - @author.social_links.each_pair do |key, value|
      - if value.length > 0
        %li= link_to image_tag(key, class: 'img-responsive'), value, class: "icon #{key}"
