- @category.id ? @url = dashboard_category_path(@category.id) : @url = dashboard_categories_path

= form_for @category, url: @url  do |f|
  - if not @category.errors.empty?
    #error-explanation.alert.alert-danger
      %strong="The following #{pluralize(@category.errors.count, 'error')} prevented the action to be completed"
      %ul
        - @category.errors.full_messages.each do |error|
          %li= error

  .form-inline
    .field.form-group
      = f.label(:name, 'Name:', {class: 'control-label'})
      = f.text_field(:name, class: 'form-control')
    = f.submit 'Save', class: 'btn btn-primary'