= form_tag(dashboard_log_in_path, method: :create) do
  %h2 Login
  .form-horizontal
    .field.form-group
      = label_tag(:email, 'Email:', {class: 'control-label col-sm-3'})
      .col-sm-9
        = email_field_tag(:email, '', class: 'form-control')
    .field.form-group
      = label_tag(:password, "Password:", {class: 'control-label col-sm-3'})
      .col-sm-9
        = password_field_tag(:password, '', class: 'form-control')
    .field.form-group
      = submit_tag 'Log in', class: 'btn btn-primary pull-right'
