%h2 Login

= form_tag(dashboard_login_path, method: :create) do
  .field
    = label_tag('Email:')
    = text_field_tag('email')
  .field
    = label_tag('Password:')
    = text_field_tag('password')
  .field
    = submit_tag 'Log in'
