- @post.id ? @url = dashboard_post_path(@post.id) : @url = dashboard_posts_path
= form_for @post, url: @url do |f|
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = label_tag :tags, 'Tags'
    = text_field_tag :tags, @tags
  .field
    = f.submit 'Save'
