- @post.id ? @url = dashboard_post_path(@post.id) : @url = dashboard_posts_path

= form_for @post, url: @url do |f|
  - if not @post.errors.empty?
    %h4="Couldn't create the post because of #{pluralize(@post.errors.count, 'error')}."
    %ul
      - @post.errors.full_messages.each do |error|
        %li= error

  .form-horizontal
    .field.form-group
      = f.label :title, class: 'control-label col-sm-1'
      .col-sm-7
        = f.text_field :title, class: 'form-control'
    .field.form-group
      = f.text_area :description, id: "eg-textarea", class: "text-small", row: 10
    .field.form-group
      = label_tag :tags, 'Tags', class: 'control-label col-sm-1'
      .col-sm-7
        = text_field_tag :tags, get_formatted_tags(@post.tags), class: 'form-control'
    .field.form-group
      = f.submit 'Save', class: 'btn btn-primary pull-right'
