.col-sm-6.col-md-4
  .post
    .thumbnail
      = image_tag(post.preview_image)
      .caption
        %h3=link_to post.title.split(' ').slice(0, 10).join(' ')+'...', dashboard_post_path(post.id)
        %p=post.created_at.to_date.strftime("%d %^b %y")
        %p
          %strong Category
          = link_to post.category.name, dashboard_posts_path(category: post.category.name)
        - description = post.description.split('</p>').join(' ')
        - description = strip_tags(description).split(' ')
        - description.length > 10 ? extra = '...' : extra = ''
        %p= description.slice(0, 50).join(' ') + extra

        - if admin_author?
          = link_to "#{post.author.name} #{post.author.last_name}", dashboard_posts_path(nickname: post.author.nickname)
        %ul.list-inline
          = render post.tags
        .options
          = link_to 'Edit', edit_dashboard_post_path(post.id), class: 'btn btn-primary'
          = link_to 'Destroy', dashboard_post_path(post.id), method: 'delete', data: {:confirm => "Are you sure?"}, class: 'btn btn-danger'
