.post-full
  %h2= @post.title
  %p= @post.created_at.to_time.strftime("%y %^b %d %H:%M:%S")
  = render inline: @post.description
  %ul.tags
    = render @post.tags
  .comments
    = render @post.comments

  %div
    = link_to "Edit", edit_dashboard_post_path(@post.id), class: 'btn btn-primary'
    = link_to "Destroy", dashboard_post_path(@post.id), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-danger'