.post
  %header
    .date
      .day
        %span=post.created_at.to_date.day
      .month-year
        %span=post.created_at.to_date.strftime('%B')
        %span=post.created_at.to_date.year
    - title = post.title.split(' ')
    - title.length > 11 ? extra = '...' : extra = ''
    - title = title.slice(0, 11).join(' ') + extra

    %h4.title= link_to "#{title+extra}", post_path(post.id)
  %section.content
    =link_to "by #{post.author.nickname}", author_path(post.author.nickname)
    - description = post.description.split('</p>').join(' ')
    - description = strip_tags(description).split(' ')
    - description.length > @word_count ? extra = '...' : extra = ''
    %p= description.slice(0, @word_count).join(' ') + extra

  %ul.tags
    = render post.tags

