.post
  .preview_image
    = image_tag(post.preview_image, style: "width: 100%; height: 300px;")
  %header
    .date
      .day
        %span=post.created_at.to_date.day
      .month-year
        %span=post.created_at.to_date.strftime('%B')
        %span=post.created_at.to_date.year
    - title = post.title.split(' ')
    - title.length > @words_title ? extra = '...' : extra = ''
    - title = title.slice(0, @words_title).join(' ') + extra

    %h4.title= link_to "#{title+extra}", post_path(post.id)
  %section.content
    =link_to "by #{post.author.nickname}", author_path(post.author.nickname)
    - description = post.description.split('</p>').join(' ')
    - description = strip_tags(description).split(' ')
    - description.length > @words_content ? extra = '...' : extra = ''
    %p= description.slice(0, @words_content).join(' ') + extra

  %ul.tags
    = render post.tags

