%div{class: @main ? 'post-main' : 'post'}
  - if not post.preview_image.empty?
    .preview-image
      = image_tag(post.preview_image, class: 'img-responsive center-block')
  .row
    %div.date{class: @main ? 'col-sm-2 col-xs-3' : 'col-sm-3 col-xs-3'}
      .day.text-center.normal-highlight
        %span=post.created_at.to_date.day
      .month-year.text-center.text-uppercase.small
        %span=post.created_at.to_date.strftime('%B')
        %span=post.created_at.to_date.year

    %div.post-content{class: @main ? 'col-sm-10 col-xs-9' : 'col-sm-9 col-xs-9'}
      - title = post.title.split(' ')
      - title.length > @words_title ? extra = '...' : extra = ''
      - title = title.slice(0, @words_title).join(' ') + extra

      %h4.handwrite-typography.title= link_to "#{title+extra}", post_path(post.id)

      .summary
        =link_to "by #{post.author.nickname}", author_path(post.author.nickname)
        - description = post.description.split('</p>').join(' ')
        - description = strip_tags(description).split(' ')
        - description.length > @words_content ? extra = '...' : extra = ''
        %p= description.slice(0, @words_content).join(' ') + extra

        %ul.list-inline.tags
          = render post.tags

