!!!5
%html
  %head
    %title Blogme
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Oswald", :rel => "stylesheet", :type => "text/css"}/
  %body{:id => "application", :class => controller.controller_name}
    .site
      / Banner

      %section.banner

      / Header

      %header
        %nav.pages-menu
          %ul
            %li= link_to 'Home', home_path, class: 'active'
            %li= link_to 'Page-1', home_path
            %li= link_to 'Page-2', home_path
            %li= link_to 'Page-3', home_path

      / Content

      .content
        .main-content.col-sm-9
          = yield

        %aside.sidebar
          - if @author
            .author-profile
              %h4 Author
              = image_tag(@author.image)
              %strong
                =link_to "#{@author.name} #{@author.last_name}", author_path(nickname: @author.nickname)
              %p.message=@author.message

          %ol.popular-posts
            %h4 Popular posts
            -@popular_posts.each do |pp|
              %li=link_to pp.title, post_path(pp.id)
          / TODO
          / .suscribe-form
          / .archive

      / Footer

      %footer
        %p Una frase
