!!!5
%html
  %head
    %title Blogme
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Oswald", :rel => "stylesheet", :type => "text/css"}/
  %body{:id => "application", :class => controller.controller_name}
    %header.navbar.navbar-fixed-top
      .container
        %ul.list-inline
          %li= link_to 'Home', home_path, class: 'active'
          - if @categories
            - @categories.each do |c|
              %li= link_to c.name, category_path(category: c.name)
          - if @categories
            - @pages.each do |p|
              %li= link_to p.name, page_path(name: p.name)

    / Content

    #content.container
      .row
        .main-content.col-sm-9
          = yield

        %aside.sidebar
          - if @author
            = render @author

          %ol.popular-posts
            %h4 Popular posts
            -@popular_posts.each do |pp|
              %li=link_to pp.title, post_path(pp.id)
          .archive
            %h4.text-center Archive
            - @archive.each_pair do |month, posts|
              %div{class: "#{month.split(' ').join('-')}"}
                %h5.expand-btn.highlightable
                  = "#{month}"
                  %small="(#{posts.length})"
                  %span.caret
                %ul.monthly-posts
                  - posts.each do |post|
                    %li.hidden= link_to post[0], post_path(id:post[1])
          / TODO
          / .suscribe-form

    / Footer

    %footer
      .container
        .row
          .col-sm-3
            %h4 Categories
            %ul
            - @categories.each do |c|
              %li= link_to c.name, category_path(category: c.name)
          .col-sm-3
            %h4 Pages
            %ul
            - @pages.each do |pa|
              %li= link_to pa.name, page_path(name: pa.name)
          .col-sm-3
            %h4 Recent posts
            %ul
              - @recent_posts.each do |po|
                %li= link_to po.title, post_path(po.id)
          .col-sm-3
            %h4 Other links
        .row
          .col-sm-6
            %p Copyright © 2015 Blogme. All rights reserved.
          .col-sm-6
            %p Social links