!!!5
%html
  %head
    %title Blogme
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Oswald", :rel => "stylesheet", :type => "text/css"}/

    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
  %body{:id => "application", :class => controller.controller_name}
    %header.navbar.navbar-fixed-top
      .container
        .row
          .logo.col-sm-3.col-xs-12
            %a{href: "/"}
              = image_tag('logo.png')
          .col-sm-9.col-xs-12
            %ul{class: 'list-inline collapse navbar-collapse text-uppercase pull-right'}
              %li= link_to 'Home', home_path, class: 'active'
              - @categories.each do |c|
                %li= link_to c.name, category_path(category: c.name)
              - @pages.each do |p|
                %li= link_to p.name, page_path(name: p.name)

    / Content

    #content.container
      .row
        .main-content.col-md-9.col-sm-12
          = yield

        %aside.sidebar.col-md-3.col-sm-12
          - if @author
            %section
              = render @author

          %section
            %ol.popular-posts.small
              %h4.text-center.text-uppercase Popular posts
              - @popular_posts.each do |pp|
                %li.small
                  %p.inline= link_to pp.title, post_path(pp.id)
                  - def_class = "img-responsive img-rounded"
                  = image_tag(pp.preview_image, class: pp.preview_image ? def_class + " inline" : def_class + " hidden")

          %section
            %ol.recent-posts.small
              %h4.text-center.text-uppercase Recent posts
              - @recent_posts.each do |po|
                %li.small
                  %p.inline= link_to po.title, post_path(po.id)
                  - def_class = "img-responsive img-rounded"
                  = image_tag(po.preview_image, class: po.preview_image ? def_class + " inline" : def_class + " hidden")

          %section
            .archive.small
              %h4.text-center.text-uppercase Archive
              - @archive.each_pair do |month, posts|
                %div{class: "#{month.split(' ').join('-')}"}
                  %h5.expand-btn.text-uppercase
                    = "#{month}"
                    %small="(#{posts.length})"
                    %span.caret
                  %ul.monthly-posts
                    - posts.each do |post|
                      %li.small.hidden
                        %span.small.glyphicon.glyphicon-chevron-right
                        = link_to post[0], post_path(id:post[1])
          / TODO
          / .suscribe-form

    / Footer

    %footer
      .container
        .row
          .col-sm-4.col-xs-4.text-center
            %h4 Categories
            %ul
              - @categories.each do |c|
                %li= link_to c.name, category_path(category: c.name)
          .col-sm-4.col-xs-4.text-center
            %h4 Pages
            %ul
              - @pages.each do |pa|
                %li= link_to pa.name, page_path(name: pa.name)
          .col-sm-4.col-xs-4.text-center
            %h4 More
            %ul
              %li= link_to "Etsy store", "https://www.etsy.com/shop/PurrrfectDesign?ref=search_shop_redirect"
        .row
          .col-sm-12.text-center
            %p Copyright © 2015 Blogme. All rights reserved.