!!!5
%html
  %head
    %title Blogme
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Oswald", :rel => "stylesheet", :type => "text/css"}/
  %body{:id => "application", :class => controller.controller_name}
    .site
      / Banner

      %section.banner

      / Header

      %header
        %nav.pages-menu
          %ul
            %li= link_to 'Home', home_path, class: 'active'
            - if @categories
              - @categories.each do |c|
                %li= link_to c.name, category_path(category: c.name)
            - if @categories
              - @pages.each do |p|
                %li= link_to p.name, page_path(name: p.name)

      / Content

      #content
        .main-content.col-sm-9
          = yield

        %aside.sidebar
          - if @author
            = render @author

          %ol.popular-posts
            %h4 Popular posts
            -@popular_posts.each do |pp|
              %li=link_to pp.title, post_path(pp.id)
          .archive
            %h4.text-center Archive
            - @archive.each_pair do |month, posts|
              %div{class: "#{month.split(' ').join('-')}"}
                %h5.expand-btn.highlightable
                  = "#{month}"
                  %small="(#{posts.length})"
                  %span.caret
                %ul.monthly-posts
                  - posts.each do |post|
                    %li.hidden= link_to post[0], post_path(id:post[1])
          / TODO
          / .suscribe-form

      / Footer

      %footer
        %p Una frase
