!!!
%html
  %head
    %title Blogme
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:id => "dashboard", :class => controller.controller_name}

    - if current_author
      / Quick access menu
      %ul.quick-access-menu
        %li.quick-link
          = link_to posts_path do
            %span.glyphicon.glyphicon-th-large
          %span.description Blog
        - if @post
          %li.quick-link
            = link_to posts_path do
              %span.glyphicon.glyphicon-eye-open
            %span.description See Post in blog

      / Main navbar

      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            = link_to 'Blogme', dashboard_posts_path, class: 'navbar-brand'
            %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          %ul.nav.navbar-nav.navbar-right.collapse.navbar-collapse
            %li= link_to "Posts", dashboard_posts_path
            - if current_author.role == "admin"
              %li= link_to "Authors", dashboard_authors_path
              %li= link_to "Categories", dashboard_categories_path
              %li= link_to "Pages", dashboard_pages_path
            %li= link_to "Profile", dashboard_author_path(current_author.id)
            %li= link_to "Log out", dashboard_log_out_path, method: :delete

      / Secondary nav
      - if ['posts', 'authors', 'pages'].include? controller.controller_name
        .container.sub-menu
          %ul.nav.nav-pills.nav-default
            - if controller.controller_name == 'posts'
              %li= link_to "New post", new_dashboard_post_path
            - if admin_author?
              - if controller.controller_name == 'authors'
                %li= link_to "New author", new_dashboard_author_path
              - if controller.controller_name == 'pages'
                %li= link_to "New page", new_dashboard_page_path

    / Content
    .container
      %section{class: controller.controller_name != 'session' ? 'main col-sm-12' : 'main'}
        %ul.flashes
          - flash.each do |name, msg|
            %div{class: "alert alert-dimissible alert-#{name}"}
              %button{type: "button", class: "close", 'data-dismiss': "alert", 'aria-label': "Close"}
                %span{'aria-hidden': true} &times;
              = content_tag :li, msg
        .container
          = yield